<div class="container">
  <h1>Angular Color Picker Directive</h1>
  <h4>A Color Picker Directive for Angular with no dependencies.</h4>
  <h4><b>based on angular2-color-picker by Alberto Pujante</b></h4>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        [value]="color8"
        [style.background]="color8"
        [cpCancelButton]="true"
        [cpCancelButtonClass]="'btn btn-primary btn-xs'"
        [(colorPicker)]="color8"
      />
    </div>

    <div class="col-md-7">
      <p>
        Change cancel button class, in this example we are using a bootstrap
        button:
      </p>
      <pre>
&lt;input [value]="color"
       [style.background]="color"
       [cpCancelButton]="true"
       [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
       [(colorPicker)]="color"/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        [value]="color9"
        [style.background]="color9"
        [cpOKButton]="true"
        [cpSaveClickOutside]="false"
        [cpCancelButton]="true"
        [cpOKButtonClass]="'btn btn-primary btn-xs'"
        [(colorPicker)]="color9"
      />
    </div>

    <div class="col-md-7">
      <p>Show OK button:</p>
      <pre>
&lt;input [value]="color"
       [style.background]="color"
       [cpOKButton]="true"
       [cpSaveClickOutside]="false"
       [cpCancelButton]="true"
       [cpOKButtonClass]= "'btn btn-primary btn-xs'"
       [(colorPicker)]="color"/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        [style.background]="color10"
        [colorPicker]="color10"
        [cpCmykEnabled]="true"
        (cpCmykColorChange)="cmykValue = $event"
        (colorPickerChange)="
          cmykColor = onChangeColorCmyk($event); color10 = $event
        "
      />

      <div class="clearfix"></div>

      <div>{{ cmykValue }}</div>

      <div>
        <span
          class="cmyk-text"
          style="color: rgb(0, 255, 255)"
          [style.font-size.px]="100 * cmykColor.c"
          >C</span
        >

        <span
          class="cmyk-text"
          style="color: rgb(255, 0, 255)"
          [style.font-size.px]="100 * cmykColor.m"
          >M</span
        >
      </div>

      <div class="clearfix"></div>

      <div>
        <span
          class="cmyk-text"
          style="color: rgb(255, 255, 0)"
          [style.font-size.px]="100 * cmykColor.y"
          >Y</span
        >

        <span class="cmyk-text" [style.font-size.px]="100 * cmykColor.k"
          >K</span
        >
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="col-md-7">
      <p>Change event color:</p>
      <pre>
&lt;input [style.background]="color"
       [colorPicker]="color"
       [cpCmykEnabled]="true"
       (cpCmykColorChange)="cmykValue=$event"
       (colorPickerChange)="cmykColor=onChangeColorCmyk($event);color=$event"/&gt;

&lt;span [style.font-size.px]="100 * cmykColor.c"/&gt;C&lt;/span/&gt;
&lt;span [style.font-size.px]="100 * cmykColor.m"/&gt;M&lt;/span/&gt;
&lt;span [style.font-size.px]="100 * cmykColor.y"/&gt;Y&lt;/span/&gt;
&lt;span [style.font-size.px]="100 * cmykColor.k"/&gt;K&lt;/span/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        [style.background]="color11"
        [cpPresetColors]="[
          '#fff',
          '#000',
          '#2889e9',
          '#e920e9',
          '#fff500',
          'rgb(236,64,64)'
        ]"
        [(colorPicker)]="color11"
      />
    </div>

    <div class="col-md-7">
      <p>With preset colors:</p>
      <pre>
&lt;input [style.background]="color"
       [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
       [(colorPicker)]="color"/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        [style.background]="color13"
        [cpAlphaChannel]="'always'"
        [cpOutputFormat]="'rgba'"
        [cpPresetColors]="['#fff', '#2889e9']"
        [cpAddColorButton]="true"
        [(colorPicker)]="color13"
      />
    </div>

    <div class="col-md-7">
      <p>Add and remove preset colors:</p>
      <pre>
&lt;input [style.background]="color"
       [cpAlphaChannel]="'always'"
       [cpOutputFormat]="'rgba'"
       [cpPresetColors]="['#fff', '#2889e9']"
       [cpAddColorButton]="true"
       [(colorPicker)]="color"/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        #ignoredInput
        [style.background]="color12"
        [cpFallbackColor]="'#f200bd'"
        [cpIgnoredElements]="[ignoredButton, ignoredInput]"
        [(cpToggle)]="toggle"
        [(colorPicker)]="color12"
      />

      <div class="clearfix"></div>

      <button #ignoredButton class="btn btn-primary" (click)="toggle = !toggle">
        Toggle
      </button>

      <br /><br />

      <div>
        <b>Toggle status: {{ toggle }}</b>
      </div>
    </div>

    <div class="col-md-7">
      <p>Use cpToggle with cpIgnoredElements:</p>
      <pre>
&lt;input #ignoredInput
       [style.background]="color"
       [cpIgnoredElements]="[ignoredButton, ignoredInput]"
       [(cpToggle)]="toggle"
       [(colorPicker)]="color"/&gt;

&lt;button #ignoredButton (click)="toggle=!toggle"&gt;&lt;/button&gt;
      </pre>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-5">
      <input
        cpPosition="auto"
        [value]="color18"
        [style.background]="color18"
        [(colorPicker)]="color18"
      />
    </div>

    <div class="col-md-7">
      <p>Auto positioning:</p>
      <pre>
&lt;input [value]="color"
       [style.background]="color"
       cpPosition="auto"
       [(colorPicker)]="color"/&gt;
      </pre>
    </div>
  </div>

  <hr />

  <button nz-button [nzType]="'primary'" (click)="showModal()">
    <span>Show Modal</span>
  </button>

  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="The first Modal"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <nz-table [nzData]="['']" [nzShowPagination]="false" nzBordered>
        <thead>
          <tr>
            <th>Option Name</th>
            <th>Text Background</th>
            <th>Background Color</th>
            <th>Text Color</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <input
                [style.background]="color13"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"
                [cpPresetColors]="['#fff', '#2889e9']"
                [cpAddColorButton]="true"
                [(colorPicker)]="color13"
              />
            </td>
            <td><input /></td>
          </tr>

          <tr>
            <td>
              <input
                [style.background]="color13"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"
                [cpPresetColors]="['#fff', '#2889e9']"
                [cpAddColorButton]="true"
                [cpCancelButton]="true"
                [(colorPicker)]="color13"
              />
            </td>
            <td><input /></td>
          </tr>

          <tr>
            <td>
              <input
                [style.background]="color13"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"
                [cpPresetColors]="['#fff', '#2889e9']"
                [cpAddColorButton]="true"
                [(colorPicker)]="color13"
              />
            </td>
            <td><input /></td>
          </tr>

          <tr>
            <td>
              <input
                [style.background]="color13"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"
                [cpPresetColors]="['#fff', '#2889e9']"
                [cpAddColorButton]="true"
                [(colorPicker)]="color13"
                [isShowSelectColorType]="true"
              />
            </td>
            <td><input /></td>
          </tr>

          <tr>
            <td>
              <input
                [style.background]="color13"
                [cpAlphaChannel]="'always'"
                [cpOutputFormat]="'rgba'"
                [cpPresetColors]="['#fff', '#2889e9']"
                [cpAddColorButton]="true"
                [(colorPicker)]="color13"
                [cpCancelButton]="true"
                [cpOKButton]="true"
              />
            </td>
            <td><input /></td>
          </tr>
        </tbody>
      </nz-table>
      <div class="more-option">
        <button nz-button nzType="text">Add more option</button>
      </div>
    </ng-container>
  </nz-modal>
</div>
